

@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Hubballi&family=Raleway:wght@100&display=swap');

* {
  box-sizing: border-box;
}


html {
  font-family: 'Gideon Roman', cursive;
font-family: 'Hubballi', cursive;
font-family: 'Raleway', sans-serif;
}


body {
  margin: 0;
  background-color: yellow;
}


